<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Willow - Contact Form</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='willow.css') }}">
</head>

<body>
  <h1>
    {% if form_type == 'add' %}
    Add Contact
    {%else %}
    Edit Contact
    {% endif %}
  </h1>
  <div class="modal-shell" id="modal-shell-edit">
    <div class="modal-content">
      <a href="{{ url_for('get_contacts') }}"><span class="close" id="close-modal">&times;</span></a>
      {% if form_type == 'add' %}
      <form action="{{ url_for('add_contact') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="" required><br><br>
        <label for="frequency">Frequency:</label>
        <input type="number" id="frequency" name="frequency" value="" required min="1"><br><br>
        <button type="submit">Save Changes</button>
      </form>
      {% else %}
      <form action="{{ url_for('update_contact', person_id=contact[0]) }}" method="POST">
        <input type="hidden" id="contact-id" name="id" value="{{ contact[0] }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ contact[1] }}" required><br><br>
        <label for="frequency">Frequency:</label>
        <input type="number" id="frequency" name="frequency" value="{{ contact[2] }}" required min="1"><br><br>
        <button type="submit">Save Changes</button>
      </form>
      {% endif %}
    </div>
  </div>
</body>

</html>