<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Willow - Home</title>
  <!-- Add any stylesheets or scripts here -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='willow.css') }}">
</head>
<body>
    <h1>Home</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Frequency</th>
          <th>Last Interaction</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td><a href="{{ url_for('interactions', person_id=contact.id, contact_name=contact.name) }}">{{ contact.name }}</a></td>
          <td>{{ contact.frequency }}</td>
          <td>{{ contact.last_interaction }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
