<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='willow.css') }}">
    <title>Willow - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <h1>Willow</h1>
    <div class="wrapper">
        {% if current_user.is_authenticated %}
        <nav id="sidebar">
            <a href="{{ url_for('home.get_home') }}">home</a>
            <a href="{{ url_for('contacts.get_contacts') }}">contacts</a>
        </nav>
        {% endif %}
        <section class="main">
            {% block content %}{% endblock %}
        </section>

    </div>
</body>

</html>