{% extends "base.html" %} {% block title %}Change Password{% endblock %} {%
block content %}

<div class="modal-shell" id="modal-shell">
  <div class="modal-content">
    <a href="{{ url_for('account.get_account_details') }}"><span class="close" id="close-modal">&times;</span></a>
    <h2>Change Password</h2>
    <div class="change-password-form">
      <form action="{{ url_for('account.change_password') }}" method="POST">
        <div class="form-group">
          <label for="current_password">Current password:</label>
          <input type="password" name="current_password" id="current_password" required /><br><br>
          <label for="new_password">New password:</label>
          <input type="password" name="new_password" id="new_password" required /><br><br>
          <label for="confirm_password">Confirm new password:</label>
          <input type="password" name="confirm_password" id="confirm_password" required /><br><br>
        </div>
        <div class="flash-error">
          {% for message in get_flashed_messages(with_categories=False, category_filter=('error')) %}
          {{ message }}
          {% endfor %}
        </div>
        <button type="submit">Change Password</button>
      </form>
    </div>
  </div>
  {% endblock %}