{% extends 'base.html' %}
{% block title %}Contact Form{% endblock %}
{% block content %}
<h2>
  {% if form_type == 'add' %}
  Add Contact
  {%else %}
  Edit Contact
  {% endif %}
</h2>
<div class="modal-shell" id="modal-shell-edit">
  <div class="modal-content">
    <a href="{{ url_for('contacts.get_contacts') }}"><span class="close" id="close-modal">&times;</span></a>
    <h2>
      {% if form_type == 'add' %}
      Add Contact
      {%else %}
      Edit Contact
      {% endif %}
    </h2>
    <div class="contact-form">
      {% if form_type == 'add' %}
      <form action="{{ url_for('contacts.add_contact') }}" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="" required><br><br>
          <label for="frequency">Frequency (in days):</label>
          <input type="number" id="frequency" name="frequency" value="" required min="1"><br><br>
          <button type="submit">Save Changes</button>
        </div>
      </form>
      {% else %}
      <form action="{{ url_for('contacts.edit_contact', person_id=contact[0]) }}" method="POST">
        <input type="hidden" id="contact-id" name="id" value="{{ contact[0] }}">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="{{ contact[1] }}" required><br><br>
          <label for="frequency">Frequency (in days):</label>
          <input type="number" id="frequency" name="frequency" value="{{ contact[2] }}" required min="1"><br><br>
          <button type="submit">Save Changes</button>
        </div>
      </form>
      {% endif %}
      <div class="flash">
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}