<!DOCTYPE html>
<html>

<head>
    <title>Willow - Interactions</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='willow.css') }}">
    <script src="{{ url_for('static', filename='confirmDeleteInteraction.js') }}"></script>
</head>

<body>
    <h1>Interactions - {{ contact_name }}</h1>
    <section class="table-container">
        <table aria-label="interactions-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Notes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for interaction in interactions %}
                <tr>
                    <td class="date">{{ interaction.date }}</td>
                    <td class="title">{{ interaction.title }}</td>
                    <td class="notes">{{ interaction.notes }}</td>
                    <td><a
                            href="{{ url_for('interactions.update_interaction', interaction_id=interaction.id, person_id=person_id, contact_name=contact_name) }}"><button
                                class="edit-button">Edit</button></a></td>
                    <td><button class="delete-button"
                            onclick="confirmDeleteInteraction('{{ interaction.id }}', '{{ person_id }}', '{{ contact_name }}')">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('home.get_home') }}"><button>Home</button></a>
        <a href="{{ url_for('contacts.get_contacts') }}"><button>Contacts</button></a>
        <a href="{{ url_for('interactions.add_interaction', person_id=person_id, contact_name=contact_name) }} "><button>Add
                Interaction</button></a>
    </section>
</body>

</html>