{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div id="login-wrapper">
    <section class="login-form">
        <h2>Login</h2>
        <form action="{{ url_for('auth.login')}}" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" required aria-label="username"><br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" required aria-label="password"><br><br>
            </div>
            <div>
                <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
            </div>
            <div class="flash-success">
                {% for message in get_flashed_messages(with_categories=False, category_filter=('success')) %}
                {{ message }}
                {% endfor %}
            </div>
            <div class="flash-error">
                {% for message in get_flashed_messages(with_categories=False, category_filter=('error')) %}
                {{ message }}
                {% endfor %}
            </div>
            <button type="submit">Login</button>
            <a href="{{ url_for('auth.register') }}"><button id="register_button" type="button">Register</button></a>
        </form>
    </section>
    <div class="logo-image">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Willow logo - a sketch of a willow tree">
    </div>
</div>
{% endblock %}

</html>