<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Willow - Login</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='willow.css') }}">
</head>

<body>
    <h1>Login</h1>
    <section class="login-form">
        <form action="{{ url_for('login.login_user')}}" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <div class="flash">
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
        </div>
    </section>
</body>

</html>