{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {%
block content %}

<div class="modal-shell" id="modal-shell">
  <div class="modal-content">
    <a href="{{ url_for('auth.login') }}"><span class="close" id="close-modal">&times;</span></a>
    <h2>Reset password</h2>
    <div class="password-reset-form">
      <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
        <div class="form-group">
          <label for="password">New password:</label>
          <input type="password" name="password" id="password" required /><br><br>
        </div>
        <div class="flash-error">
          {% for message in get_flashed_messages(with_categories=False, category_filter=('error')) %}
          {{ message }}
          {% endfor %}
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}